.header {
    background-color: #145214;
    height: 44px;

    .headerMenu {
        display: flex;
        color: white;

        ul {
            display: flex;
            list-style: none;

            li {
                margin-right: 40px;
                margin-top: 7px;
            }

            li:first-child {
                font-size: 20px;
                font-weight: bold;
                margin-top: 2px;
            }
        }

        .rheader {
            margin-left: 8%;
        }

        .lheader {
            display: flex;
            position: absolute;
            right: 75px;

            img {
                width: 44px;
                height: 44px;
            }

            p {
                margin-top: 5px;
                margin-left: 9px;
            }
        }
    }
}