.productsTable{
    border-collapse: collapse;
    margin-left: 10%;
    .productName{
        width: 40%;
    }
}
tbody{
    tr{
        border-bottom: 1px solid black;
    }
    tr:last-child{
        border: none;
    }
}